@font-face{

    font-family: 'VerlagBlack';
    src: url('../fonts/VerlagBlack.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: VerlagBlack;
    color: #37453c;
}

body {
    background-color: #e6c461;
    color: #37453c;
}

.container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.container p {
    margin: 50px;
    position: relative;
}

ul {
    margin: 5px 20px 5px 0px;
}

h1 {
    font-size: 50px;
    margin-bottom: -10px;
}

h2 {
    font-size: 20px;
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

h2:before,
h2:after {
    background: #37453c;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 40%;
    width: 30px;
}
h2:before {
    right: 95%;
}
h2:after {
    left: 95%;
}

li {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 20px;
}

li a {
    margin-left: 10px;
}

.container > ul > li {
    border-left: #37453c 3px solid;
}

.fa-circle:before {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
}

i.fa.fa-circle {
    margin-right: 7px;
}

form input {
    height: 20px;
    width: 67px;
    padding: 6px 16px;
    border: none;
    background-color: #f3f3f3;
}

form button {
    margin: 20px auto 0;
    width: 100px;
    height: 33px;
    border-radius: 76px;
    border: none;
    margin-left: 10px;
    color: #eee;
    font-weight: 700;
    background-color: #37453c;
}